<p style="color: green"><%= notice %></p>

<%= render @message %>

<%= cubicle_for @message, @user, appear_trigger: :focus, disappear_trigger: :blur, trigger_root: "#comment" do |users| %>
  <% if users.present? %>
    <%= users.map(&:username).to_sentence %> <%= users.size > 1 ? "are" : "is" %> typing...
  <% end %>
<% end %>

<%= text_field_tag :comment %>
